# Dependencias de Composer
/vendor/

# Archivos de caché de PHPUnit (se generan al correr los tests)
.phpunit.cache
.phpunit.result.cache
/phpunit-coverage/
/coverage/

# Entornos de desarrollo locales (IDEs como PHPStorm o VSCode)
.idea/
.vscode/
*.swp

# Archivos propios del Sistema Operativo
.DS_Store
Thumbs.db